.primary {
  background-color: #40a4a4;
  min-height: fit-content;
}

.break {
  height: 200px;
  background-color: #40a4a4;
  color: #ffffff;
}

.space {
  height: 30px;
}

.icons {
  justify-content: "space-between";
}

.divider {
  width: 40px;
}

.smalldivider {
  width: 20px;
}
.slide {
  background-color: #ffdab9;
  justify-content: "center";
  align-content: "center";
}

.whiteSpace {
  min-height: 300px;
  max-height: 300px;
}

.center {
  justify-content: "center";
}

.iconCenter {
  justify-content: space-between;
}

.textCenter {
  justify-content: space-between;
}

.iconContainer {
  justify-content: space-between;
}

.contentArea {
  min-height: 300px;
}

.techEarth {
  background-image: url("/src/assets/techEarth.png");
}

.donationtext {
  padding-top: 5%;
  padding-left: 75px;
}

.donationbuttonhome {
  padding-left: 5%;
}

.history {
  min-height: fit-content;
  justify-content: center;
  padding: 1%;
}
